* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background-color: #140A00; */
}

.grid-wrapper {
    height: 100vh;
    padding: 600px 200px 1000px 200px;
    display: flex;
    justify-content: center;
    align-items: top;
    /* background-image: url('../assets/3310.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 635px;
}

.grid {
    align-items: top;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 150px;
    width: 250px;
    /* background-color: #588A53;*/
    border: 1.5px dotted #140A00;
}

.grid div {
    /* border: 0.5px solid grey; */
    flex-grow: 1;
    height: 10%;
    width: 10%;
    background-image: url('../assets/cell-green.png');
    background-size: cover;
    cursor: pointer;
}

.grid div.pika {
    background-image: url('../assets/snake-body.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 0.01px solid #588A53;
}


/* .grid div.pika {
    background-color: #140A00;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0.01px solid #588A53;
    cursor: pointer;
} */

.grid div.berry {
    background-image: url('../assets/berry.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.phone {
    padding: 600px 200px 1000px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/3310.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: 9;
    top: -20px;
    left: 760px;
}

.green {
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 500px;
    left: 780px;
    background-image: url('../assets/cell-green.png');
    background-size: cover;
    background-repeat: repeat;
    cursor: pointer;
}

.header {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 13;
    top: 545px;
    left: 835px;
    border-bottom: 1.5px dotted #140A00;
}

@font-face {
    font-family: myFont;
    src: url('../assets/SUBWT___.ttf');
}

#score {
    font-family: myFont;
    font-size: 50;
    position: absolute;
    z-index: 20;
    top: 575px;
    left: 840px;
}