* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #140A00;
}


/* Hold the grid of cells */

.grid-wrapper {
    height: 100vh;
    padding: 600px 200px 1000px 200px;
    display: flex;
    justify-content: center;
    align-items: top;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 635px;
}


/* The whole grid of cells */

.grid {
    align-items: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 125px;
    width: 250px;
    border: 1.5px dotted #140A00;
}


/* Each individual cell in the grid */

.grid div {
    flex-grow: 1;
    height: 10%;
    width: 5%;
    background-image: url('../assets/cell-green.png');
    background-size: cover;
    cursor: pointer;
}


/* The cell containing the body of the snake */

.grid div.pika {
    background-image: url('../assets/half-right.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}


/* The cell containing the head of the snake */

.grid div.snakeHead {
    background-image: url('../assets/head-middle.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    ;
}


/* The cell containing the berry */

.grid div.berry {
    background-image: url('../assets/berry.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


/* The phone cover image */

.phone {
    padding: 600px 200px 1000px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/3310.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: 20;
    top: -20px;
    left: 760px;
}


/* The green background to cover the edges between the phone cover and the grid */

.green {
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 500px;
    left: 780px;
    background-image: url('../assets/cell-green.png');
    background-size: cover;
    background-repeat: repeat;
    cursor: pointer;
}


/* The header that holds the score */

.header {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 545px;
    left: 835px;
    border-bottom: 1.5px dotted #140A00;
}


/* Loading the pixelated font */

@font-face {
    font-family: myFont;
    src: url('../assets/SUBWT___.ttf');
}


/* Show the score using the pixelated font */

#score {
    font-family: myFont;
    font-size: 50;
    position: absolute;
    z-index: 11;
    top: 575px;
    left: 840px;
}


/* End of the game splash screen */

.game-over {
    height: 130px;
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 610px;
    left: 810px;
    cursor: pointer;
    font-family: myFont;
    font-size: 50;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


/* Sizing the image in the end splash screen */

.game-over img {
    height: 100px;
    width: 200px;
    padding: 0px;
}


/* Start of the game splash screen */

.start {
    height: 200px;
    width: 300px;
    position: absolute;
    z-index: 19;
    top: 560px;
    left: 810px;
    cursor: pointer;
    font-family: myFont;
    font-size: 50;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/cell-green.png');
    padding: 20px 20px 20px 20px;
}